<div id="header">
  <%= image_tag 'logo01.png' %>
</div>
<div id="wrapper">
  <main id="main">
    <div id="loading" style="display: none;">
      <p class="btn btn-default btn-lg"><i class="zmdi zmdi-rotate-right zmdi-hc-spin"></i></p>
    </div>
    <ul id="gallery" class="on" style="position: relative; width: 1240px;">
        <li class="item">
          <%= image_tag 'dummy6.jpg' %>
          <p>
            <i class="fas fa-camera-retro"></i> 富山諒太さん<br>
            <i class="far fa-smile-wink"></i> 96点
          </p>
        </li>
        <li class="item">
          <%= image_tag 'dummy5.JPG' %>
          <p>
            <i class="fas fa-camera-retro"></i> 松村龍馬さん<br>
            <i class="far fa-smile-wink"></i> かっこいい
          </p>
        </li>
        <li class="item">
          <%= image_tag 'dummy4.jpg' %>
          <p>
            <i class="fas fa-camera-retro"></i> 鈴木亮介さん<br>
            <i class="far fa-smile-wink"></i> 3点
          </p>
        </li>
        <li class="item">
          <%= image_tag 'dummy3.jpg' %>
          <p>
            <i class="fas fa-camera-retro"></i> KP<br>
            <i class="far fa-smile-wink"></i> 100点
          </p>
        </li>
      <li class="item">
        <%= image_tag 'dummy2.jpg' %>
      </li>
      <li class="item">
        <%= image_tag 'dummy2.jpg' %>
      </li>
      <li class="item">
        <%= image_tag 'dummy2.jpg' %>
      </li>
      <li class="item">
        <%= image_tag 'dummy.jpg' %>
      </li>
      <li class="item">
        <%= image_tag 'dummy.jpg' %>
      </li>
      <li class="item">
        <%= image_tag 'dummy.jpg' %>
      </li>
    </ul>
  </main>
</div>